html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-size: 100%;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline: none;
}
table {
	border-collapse: collapse; 
	border-spacing: 0;
}
td,
td img {
	vertical-align: top;
} 
input,
select,
button,
textarea {
	margin: 0;
	font-size: 100%;
	outline: none;
}
input[type="checkbox"] {
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
nav ul {
	 list-style: none;
}
html {
	min-height: 100%;
} 
body {
	color: #000;
	text-align: left;
	font-size: 1em;
	min-height: 100%;
}
a,
a:visited {
	color: #e6618c;
	text-decoration: underline;
}
a:hover {
	color: #fdf208;
	text-decoration:none;
}
a:focus,
a:active {
	color: #c83867;
	text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
img{
	max-width: 100%;
}
.clr {
	clear: both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}