header {
	color: white;
	text-align: center;
	background: url("../img/header-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 135px 20px 90px 20px;
}
.subscribe {
	background: rgba(0,0,0,0.65);
	padding: 20px;
	border-style: none;
	border-radius: 5px;
	margin: 0 auto 20px auto;
	display: table;
}
.subscribe input[type="text"],
input[type="email"] {	
	margin-right: 10px;
	padding: 12px 20px 13px 20px;
	height: 45px;
	width: 320px;
	border: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: light;
	font-size: 1em;
}
.subscribe input[type="submit"] {
	border: 0;
	background: #ae2c52;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.125em;
	font-weight: 700;
	padding: 10px 35px;
	cursor: pointer;
}
.subscribe input {
    float: left;
}
h1 {
	font-weight: 200;
	font-family: 'RaleWay', sans-serif;	
	font-size: 3.75em;
	padding-bottom: 25px;
}
header > h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.125em;
	font-style: italic;
	padding-bottom: 50px;
}
header > p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75em;
	font-weight: regular;
}
article {
	max-width: 900px;
	margin: 0 auto;
	padding: 50px 20px;
}
article > h1 {
	text-align: center;
	font-size: 3em;
	margin-bottom: 25px;
	font-family: 'Open Sans', sans-serif;
}
article > p { 
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
}
img {
	float:left;
	margin: 0 30px 20px 0;
}
@media screen and (max-width:950px) {
	.subscribe input[type="text"],
	input[type="email"] {
		width: 260px;
	}
}
@media screen and (max-width:870px) {
	.subscribe input[type="text"],
	input[type="email"] {
		width: 320px;
		display: block;
		float: none;
		margin-right: 0;
		margin-bottom: 10px;
	}
	header {
		padding: 30px 20px;
	}
	header > h1 {
		font-size: 2.75em;
	margin-bottom: 20px;
	}
	header > h3 {
		margin-bottom: 30px;
	}
}
@media screen and (max-width:400px) {
	.subscribe input[type="text"],
	input[type="email"] { 
		width:260px;
	}	
}